extends layout

block content
	center
		h1= title
		h2= "Here's a list of test runs!"
		br
		br
		table
			tr
				th.datetime Date / Time
				th.user User
				th.source Source
				th.name Test Run
				th.passcount Pass
				th.failcount Fail
				th.skipcount Skip
				th.crashcount Crash
			each testrun in testrunList
				tr
					td= testrun.datetime
					td= testrun.user
					td= testrun.source
					td
						a(href="/api/testruns/" + testrun._id)= testrun.name
					td= testrun.pass
					td= testrun.fail
					td= testrun.skip
					td= testrun.crash
		br
		br
		a(href="/") Back








