extends layout

block content
	center
		h1= title
		a(href="../") Back
		table
			tr
				th.datetime Date / Time
				th.project Project
				th.user User
				th.source Source
				th.name Test Run
				th.passcount Pass
				th.failcount Fail
				th.skipcount Skip
				th.crashcount Crash
				th.elapsedtime Duration
			each testrun in testrunList
				- var dateTime = moment(testrun.datetime)
				- var elapsedTime = moment.duration(testrun.elapsed, "seconds")
				tr.datarow(data-href = "/results/testruns/" + testrun._id)
					td= dateTime.format("MMM D, YYYY - hh:mm:ss A")
					td= testrun.project
					td= testrun.user
					td= testrun.source
					td= testrun.name
					td= testrun.pass
					td= testrun.fail
					td= testrun.skip
					td= testrun.crash
					if elapsedTime.get("hours") > 0
						td= elapsedTime.get("hours") + "h " + elapsedTime.get("minutes") + "m " + elapsedTime.get("seconds") + "s"
					else if elapsedTime.get("minutes") > 0
						td= elapsedTime.get("minutes") + "m " + elapsedTime.get("seconds") + "s"
					else
						td= elapsedTime.get("seconds") + "s"
		.error= message

