extends layout

block content
	center
		h1= title
		a(href="../") Back
		table
			tr
				th.datetime	Date / Time
				th.subsystem Subsystem
				th.testplan	Test Plan
				th.testcase	Test Case
				th.passcount Pass
				th.failcount Fail
				th.skipcount Skip
				th.crashcount Crash
				th.elapsedtime Duration
			each testcase in testcaseList
				- var dateTime = moment(testcase.datetime)
				- var elapsedTime = moment.duration(testcase.elapsed, "seconds")
				tr.datarow(data-href = "/results/testcases/" + testcase._id)
					td= dateTime.format("MMM D, YYYY - hh:mm:ss A")
					td= testcase.subsystem
					td= testcase.testplan
					td= testcase.testcase
					td= testcase.pass
					td= testcase.fail
					td= testcase.skip
					td= testcase.crash
					if elapsedTime.get("hours") > 0
						td= elapsedTime.get("hours") + "h " + elapsedTime.get("minutes") + "m " + elapsedTime.get("seconds") + "s"
					else if elapsedTime.get("minutes") > 0
						td= elapsedTime.get("minutes") + "m " + elapsedTime.get("seconds") + "s"
					else
						td= elapsedTime.get("seconds") + "s"
		.error= message

